<div class="container">
  <div class="card mt-4 shadow-sm border-1">
    <div class="card-header">
      <h5 class="card-title">Clientes Afetados</h5>
    </div>
    <div class="card-body">
      {{status}}
      <table id="table" class="table table-bordered text-center shadow">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col" class="text-center">Nome</th>
            <th scope="col" class="text-center">ID Massiva</th>
            <th scope="col" class="text-center">Protocolo</th>
            <th scope="col" class="text-center">Número</th>
            <th scope="col" class="text-center">Ações</th>
          </tr>
        </thead>
        <tbody>
          {{itens}}
        </tbody>
      </table>
      <div class="text-center">
        <a class="btn btn-pink mt-3" href="{{URL}}/cidades">Voltar</a>
        <a class="btn btn-pink mt-3" href="{{URL}}/massiva/documentar"
          >Fechar Chats</a
        >
        <button
          type="button"
          class="shadow btn btn-pink mt-3"
          data-bs-toggle="modal"
          data-bs-target="#atualizacao"
        >
          Enviar Previsão
        </button>
      </div>
    </div>
  </div>
</div>
<div
  class="modal modal-lg fade"
  id="atualizacao"
  tabindex="-1"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">Atualização</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
        ></button>
      </div>
      <div class="modal-body">
        <form action="{{URL}}/massiva/atualizar" method="post">
          <div class="form-group mb-3 w-75 mx-auto">
            <div class="row">
              <div class="col-md-10">
                <label class="form-label">ID Massiva</label>
                <select
                  class="form-select shadow w-100"
                  name="massivas[]"
                  id="massivas"
                ></select>
              </div>
              <div class="col-md-2">
                <label for="enviarTodos" class="form-label">Todos</label>
                <div class="form-check form-switch text-center">
                  <input
                    data-bs-toggle="tooltip"
                    data-bs-placement="bottom"
                    data-bs-html="true"
                    title="ON = Envia para todos <br>OFF = Envia apenas para quem não recebeu atualização"
                    class="form-check-input"
                    type="checkbox"
                    id="enviarTodos"
                    name="todos"
                  />
                </div>
              </div>
            </div>
          </div>

          <div class="form-group mb-3 w-75 mx-auto text-center">
            <label for="comentario" class="form-label">Atualização:</label>
            <textarea
              name="mensagem"
              id="mensagem"
              class="form-control shadow"
              placeholder="Escreva aqui a mensagem de atualização"
              style="min-height: 300px"
            ></textarea>
            <button
              type="submit"
              class="shadow btn btn-outline-success mt-3"
              data-bs-toggle="modal"
              data-bs-target="#atualizacao"
            >
              <i class="bi bi-check"></i>Executar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
